# Project exclude paths
/node_modules/
# Project exclude paths
/typescript/config/src/logging/logging.js
/typescript/config/src/logging/logging.js.map
/typescript/config/src/main.js
/typescript/config/src/main.js.map